html {
    height: 100%;
    font-size: 16px;
    font-family: 'Gothic A1','Candara',serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f6f0e1;
    }

h1 {
    font-family: 'Montagu Slab','Baskerville',serif;
    font-size: 3rem;
}

h2 {
    font-family: 'Montagu Slab','Baskerville',serif;
    font-size: 2rem;
}

h3 {
    font-family: 'Montagu Slab','Baskerville',serif;
    font-size: 1.5rem;
}




body {
    background-color:black;
    min-height: 100%;
}

nav {
    position: absolute;
    top:0;
    z-index: 12;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 1rem 1rem 0.5rem 1rem;
    height: fit-content;
}

nav ul {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
    list-style: none;
    margin: 0.5rem 0.5rem 0rem 0.5rem;
}

nav li a {
    font-family: 'Montagu Slab','Baskerville',serif;
    font-size: 1.5rem;
    cursor:pointer;
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    nav {
        padding-top: 0rem;
    }
    nav li a {
        font-size: 0.75rem;
        margin-top: 0rem;
        padding-top: 0rem;
}
}

nav li a:hover {
    color: #9F363A;
}

.activepage {
    color: #9F363A;
}

footer {
    background-color: #9F363A;
    padding: 2rem;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.getContactForm {
    display: inline-block;
    width: 40%;
}

footer form div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: 0.5rem 0 0.5rem 0;
}

#name {
    grid-column: span 2;
}

#email {
    grid-column: span 2;
}

#reason {
    max-height: 4rem;
    min-height: 3rem;
    grid-column: span 2;
}

#submitButton {
    grid-column: span 2;
}

.submit {
    background-color: #9F363A;
    border: 1px solid black;
    color: #f6f0e1;
    padding: 0.5rem;
    font-size: 1.5rem;
    height: 3rem;
}

.submit:hover {
    background-color: #43232E;
    font-size: 1.7rem;
    transition: 200ms;
}

.submit:active {
    background-color: black;
}

.footerContent {
    text-align: right;
    display: inline-flex;
    align-items: flex-end;
    flex: wrap;
}

@media only screen and (max-width:1060px) {
    footer {
        justify-content: center;
    }
    footer section {
        margin: 0 2rem 0.5rem 2rem;
    }
    footer form div {
        width: 90%;
    }
    .getContactForm {
        display: inline-block;
        width: 100%;
    }
    .footerContent {
        text-align: center;
        align-items: center;
    }
    .getContactForm {
        display: grid;
        grid-template-columns: 1fr;
    }
    .getContact {
        display: inline-flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
}