.banner {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.bannerContent {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.bannerHeader {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    background-color: #9F363A;
    padding-left: 1rem;
}

@media only screen and (max-width:780px) {
    .bannerHeader {
        font-size: 2rem;
        background-color: transparent;
    }
}

@media only screen and (max-width:473px) {
    .bannerHeader {
        font-size: 1rem;
    }
}

.howTo {
    display: block;
    width: 60%;
    background-color: #9F363A;
    margin: 0 auto;
    padding: 1rem;
}